$table-border-color: black;
$window-background-color: white;
$symbol-color: black;
$btn-small-background: red;

td {
    width: 150px;
    height: 150px;
    text-align: center;
    overflow: hidden;
    padding: 0;
    border: 10px solid white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    vertical-align: middle;
    background-color: rgb(189, 189, 189);
    border-radius: 10px;
    cursor: pointer;
}

table {
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -240px;
    top: 50px;
}

.end {
    display: none;
    width: 200px;
    top: 185px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -95px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    color: white;
    font-size: 2em;
}

.btn-small {
    background-color: $btn-small-background;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    padding: 20px 40px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    left: 50%;
    margin-left: -59px;
    margin-top: 550px;
}